.pag3-conteudo-principal {
   display: grid;
   grid-template-columns: 1fr;

   max-width: 1366px;
   margin: 0 auto;
   padding: 50px 20px;

   color: #252525;;
}
@media (max-width: 330px) {
   .pag3-conteudo-principal {
      margin: 0;
   }
}


.pag3-conteudo-principal p {
   font-size: 1.3rem;
   max-width: 85ch;
   margin: 0 auto;
   margin-bottom: 100px;
   position: relative;
   text-align: justify;
}
@media (max-width: 330px) {
   .pag3-conteudo-principal p {
      font-size: 1.1rem;
      text-align: left;
      margin: 0;
      margin-bottom: 50px;
      width: 28ch;
   }
}


.pag3-conteudo-principal p::after {
   content: "";
   display: block;
   height: 4px;
   width: 100px;
   background-color: #2FAE62;
   position: absolute;
   bottom: -45px;
}
@media (max-width: 330px) {
   .pag3-conteudo-principal p::after {
      display: none;
   }
}

.pag3-conteudo-principal p strong {
   color: #d40000;
}

.pag3-conteudo-principal img {
   margin-top: 30px;
   height: 190px;
   border-bottom: 6px solid #2FAE62;
}
@media (max-width: 330px) {
   .pag3-conteudo-principal img {
      margin-top: 0px;
      width: 250px;
      display: none;
   }
}

.pag3-conteudo-principal ul {
   list-style: none;
   display: flex;
   gap: 20px;
}


